/* Base
   ================================================== */

@font-face {
    font-family: "Alte Haas Grotesk";
    font-style: normal;
    font-weight: normal;
    src: local("Alte Haas Grotesk"), url(../assets/fonts/AlteHaasGroteskRegular.woff) format("woff");
}

@font-face {
    font-family: "Alte Haas Grotesk Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Alte Haas Grotesk Bold"), url(../assets/fonts/AlteHaasGroteskBold.woff) format("woff");
}

* {
    text-decoration: none
}

html {
    background: #fff;
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 1280px) {
    html {
        margin-left: 40px;
        margin-right: 40px;
    }
}

body {
    font-family: "Alte Haas Grotesk", "sans-serif";
    margin: 0;
    padding: 0;
}

#border {
    border: 16px solid #ecedef;
    background: none;
    height: -moz-calc(100% - 32px);
    height: -o-calc(100% - 32px);
    height: -webkit-calc(100% - 32px);
    height: calc(100% - 32px);
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: -moz-calc(100% - 32px);
    width: -o-calc(100% - 32px);
    width: -webkit-calc(100% - 32px);
    width: calc(100% - 32px);
    z-index: 9001;
}

::selection {
    background: rgba(26, 163, 154, 0.5)
}

::-moz-selection {
    background: rgba(26, 163, 154, 0.5)
}

/* Header
   ================================================== */

header {
    -moz-box-shadow: 0 0 0 6px #fff;
    -webkit-box-shadow: 0 0 0 6px #fff;
    background: #fff;
    border-bottom: 1px solid #e2e4e7;
    box-shadow: 0 0 0 6px #fff;
    height: 143px;
    max-width: 1200px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
}

@media (max-width: 1280px) {
   header {
        width: -moz-calc(100% - 80px);
        width: -o-calc(100% - 80px);
        width: -webkit-calc(100% - 80px);
        width: calc(100% - 80px);
    }
}

header h2 {
    color: #1aa39a;
    font-family: "Alte Haas Grotesk Bold", "sans-serif";
    font-size: 20px;
    font-weight: normal;
    margin-left: 225px;
    margin-top: -38px;
}

header h4 {
    color: #3c4c5c;
    font-family: "Alte Haas Grotesk Bold", "sans-serif";
    font-size: 38px;
    font-weight: normal;
    margin-left: 52px;
    margin-top: -16px;
}

header h6 {
    color: #1aa39a;
    float: right;
    font-family: "Alte Haas Grotesk Bold", "sans-serif";
    font-size: 18px;
    font-weight: normal;
    line-height: 43px;
    position: absolute;
    right: 85px;
    top: 6px;
}

header h5 {
    border-bottom: 1px solid #e2e4e7;
    border-top: 1px solid #e2e4e7;
    color: #1aa39a;
    float: right;
    font-family: "Alte Haas Grotesk Bold", "sans-serif";
    font-size: 50px;
    font-weight: normal;
    line-height: 40px;
    padding-bottom: 3px;
    padding-left: 275px;
    position: absolute;
    right: 20px;
    top: -37px;
}

header h1 {
    color: #1aa39a;
    font-family: "Alte Haas Grotesk", "sans-serif";
    font-size: 20px;
    font-weight: normal;
    margin-left: 54px;
    margin-top: 42px;
}

header h1 a {
    -moz-transition: opacity 0.2s ease-in-out 0s;
    -o-transition: opacity 0.2s ease-in-out 0s;
    -webkit-transition: opacity 0.2s ease-in-out 0s;
    color: #1aa39a;
    transition: opacity 0.2s ease-in-out 0s;
}

header h1 a:hover {
    color: #158c85
}

header h7 {
    color: #3c4c5c;
    float: right;
    font-family: "Alte Haas Grotesk", "sans-serif";
    font-size: 13px;
    font-weight: normal;
    line-height: 43px;
    position: absolute;
    right: 151px;
    text-align: left;
    top: 48px;
    width: 200px;
}

header h3 {
    color: #3c4c5c;
    font-family: "Alte Haas Grotesk", "sans-serif";
    font-size: 10px;
    font-weight: normal;
    margin-left: 51px;
    margin-top: -16px;
}

.change2, .change3, .change4 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

/* Content
   ================================================== */

#content {
    background: #fff;
    margin-top: 150px;
    max-width: 100%;
}

hr {
    background: #e2e4e7;
    border: none;
    clear: both;
    height: 1px;
    margin-bottom: 32px;
    margin-top: 32px;
    width: 100%;
}

.hrfix {
    margin-bottom: 0;
    margin-top: -7px;
}

.frame {
    margin-bottom: 0;
    margin-top: 0;
    max-width: 1200px;
    width: 100%;
}

.frame img {
    -moz-transition: opacity 0.2s ease-in-out 0s;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    -o-transition: opacity 0.2s ease-in-out 0s;
    -webkit-transition: opacity 0.2s ease-in-out 0s;
    filter: alpha(opacity=95);
    margin-bottom: 8px;
    margin-top: 8px;
    max-width: 100%;
    opacity: 0.95;
    transition: opacity 0.2s ease-in-out 0s;
}

.frame img:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

    .left {
        float: left;
    }

    .right {
        float: right;
    } 

    .w390 {
        max-width: 390px;
        width: -moz-calc(33.33% - 10px);
        width: -o-calc(33.33% - 10px);
        width: -webkit-calc(33.33% - 10px);
        width: calc(33.33% - 10px);
    }

    .w790 {
        max-width: 790px;
        width: -moz-calc(66.66% - 10px);
        width: -o-calc(66.66% - 10px);
        width: -webkit-calc(66.66% - 10px);
        width: calc(66.66% - 10px);
    }

    .h700 {
        max-height: 700px;
    }

    @media (min-width: 1280px) {
        .h700 {
            max-height: 700px !important;
            height: -moz-calc(100% - 20px) !important;
            height: -o-calc(100% - 20px) !important;
            height: -webkit-calc(100% - 20px) !important;
            height: calc(100% - 20px) !important;
        }
    }

/*
.frame2 .one {
    float: left;
    margin-bottom: 37px;
    width: -moz-calc(38% - 9px);
    width: -o-calc(38% - 9px);
    width: -webkit-calc(38% - 9px);
    width: calc(38% - 9px);
    }

.frame2 .two {
    float: right;
    margin-bottom: 9px;
    width: -moz-calc(62% - 9px);
    width: -o-calc(62% - 9px);
    width: -webkit-calc(62% - 9px);
    width: calc(62% - 9px);
}

.frame2 .three {
    float: right;
    margin-bottom: 9px;
    width: -moz-calc(62% - 9px);
    width: -o-calc(62% - 9px);
    width: -webkit-calc(62% - 9px);
    width: calc(62% - 9px);
}

.frame2 .four {
    float: right;
    width: -moz-calc(62% - 9px);
    width: -o-calc(62% - 9px);
    width: -webkit-calc(62% - 9px);
    width: calc(62% - 9px);
}

.frame4 .one, .frame6 .one {
    float: left;
    margin-bottom: 9px;
    width: -moz-calc(50% - 9px);
    width: -o-calc(50% - 9px);
    width: -webkit-calc(50% - 9px);
    width: calc(50% - 9px);
}

.frame4 .two, .frame6 .two {
    float: right;
    width: -moz-calc(50% - 9px);
    width: -o-calc(50% - 9px);
    width: -webkit-calc(50% - 9px);
    width: calc(50% - 9px);
}

.frame7 .one {
    float: left;
    width: -moz-calc(60.1% - 9px);
    width: -o-calc(60.1% - 9px);
    width: -webkit-calc(60.1% - 9px);
    width: calc(60.1% - 9px);
}

.frame7 .two {
    float: right;
    width: -moz-calc(39.9% - 9px);
    width: -o-calc(39.9% - 9px);
    width: -webkit-calc(39.9% - 9px);
    width: calc(39.9% - 9px);
}

*/