/* Base */

@font-face {
	font-family: "Alte Haas Grotesk";
	font-style: normal;
	font-weight: normal;
	src: local("Alte Haas Grotesk"), url(../assets/font/AlteHaasGroteskRegular.woff) format("woff");
}

@font-face {
	font-family: "Alte Haas Grotesk Bold";
	font-style: normal;
	font-weight: normal;
	src: local("Alte Haas Grotesk Bold"), url(../assets/font/AlteHaasGroteskBold.woff) format("woff");
}

* {
	text-decoration: none;
	outline: 0px;
}

html {
	background: #F9F9F9;
	margin: 0 auto;
	max-width: 1200px;
}

body { 
	font-family: "Alte Haas Grotesk", "sans-serif";
	margin: 0 auto;
	max-width: 1200px;
	padding: 0;
	top: 0px;
	width: 75%;
}

::selection {
	background: rgba(26, 163, 154, 0.5);
}

::-moz-selection {
	background: rgba(26, 163, 154, 0.5);
}

/* Header */

#header {
	background: #FFFFFF;
	border: 20px solid #FFFFFF;
	margin-left: -20px;
	top: 0px;
	width: 210px;
}

#header h1 {
	color: #3C4C5C;
	font-family: "Alte Haas Grotesk Bold", "sans-serif";
	font-size: 20px;
	font-weight: normal;
}


#header h2 {
	color: #1AA39A;
	font-family: "Alte Haas Grotesk Bold", "sans-serif";
	font-size: 15px;
	font-weight: normal;
}

#header h2 a {
	-moz-transition: opacity 0.2s ease-in-out 0s;
	-o-transition: opacity 0.2s ease-in-out 0s;
	-webkit-transition: opacity 0.2s ease-in-out 0s;
	color: #1AA39A;
	transition: opacity 0.2s ease-in-out 0s;
}

#header h2 a:hover {
	color: #158C85
}

/* Content */

#content {
	margin-top: 8px;
	width: 100%;
}

#content img {
	border: 20px solid #FFFFFF;
	margin-bottom: 8px;
	margin-left: -20px;
	max-width: 100%;
}

hr {
	border: 0;
	height: 8px;
	margin-bottom: 8px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 0px;
	padding: 0;
}

/* TODO: Fix */
hr .fix {
	height: 20px !important;
	margin-top: 40px !important;
	margin-bottom: 20px !important;
}

.logo {
	-moz-transition: all 0.1s ease-in-out 0.2s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-o-transition: all 0.1s ease-in-out 0.2s;
	-webkit-transition: all 0.1s ease-in-out 0.2s;
	filter: alpha(opacity=0);
	margin-top: 28px;
	margin-left: 28px;
	position: absolute;
	opacity: 0;
	transition: all 0.1s ease-in-out 0.2s;
}

a:hover .logo {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.logo img {
	border: 10px solid #FFFFFF !important;
	margin-right: 24px;
}

/* TODO: Colors are meh */
.logo .monkey {
	border: 10px solid #f96f6f !important;
	border-left: 4px solid #f96f6f !important;
	border-right: 2px solid #f96f6f !important;
}

.left .logo {
	right: calc(50% + 48px) !important;
}


/* TODO: Fix width/height and remove(?) #frame */
.left {
	float: left;
    width: calc(50% - 24px) !important
}

.right {
	float: right;
	width: calc(50% - 24px) !important;
}

