/* BASE */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

* {
	outline: 0px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

html, body {
	background: #FFFFFF;
}

::selection {
	background: rgba(243,201,179,0.2);
}
::-moz-selection {
	background: rgba(243,201,179,0.2);
}


/* HEADER */

#header {
	background: #F9F7F6;
	height: 150px;
	left: 57px;
	position: fixed;
	top: 57px;
	width: 325px;
	z-index: 9000;
}

#header h1 {
	color: #DDDBDC;
	font-size: 70px;
	font-weight: 700;
	margin-left: 10px;
	margin-top: 8px;
}

#header h2 {
	color: #DDDBDC;
	font-size: 25px;
	font-weight: 700;
	margin-left: 14px;
	margin-top: -45px;
}

#header h2 a {
	border-bottom: #F8C6AD solid 3px;
	color: #DDDBDC;
	-webkit-transition: color 0.1s ease-in-out 0s;
		-moz-transition: color 0.1s ease-in-out 0s;
		-o-transition: color 0.1s ease-in-out 0s;
		transition: color 0.1s ease-in-out 0s;
}

#header h2 a:hover {
	color: #F8C6AD;
}


/* CONTENT */

#page {
	height: calc(100vh - 114px);
	margin-top: 114px;
}

#frame {
	background: #F9F7F6;
	border: 20px solid #F9F7F6;
	margin: 0 auto;
	width: 900px;
	margin-bottom: 114px;
}

#frame img {
	margin-bottom: -4px;
}

#frame #text {
	color: #9D9B9C;
	font-weight: 400;
	text-align: left;
	font-size: 18px;
	line-height: 30px;
}

#frame #text h1 {
	color: #DDDBDC;
	font-size: 25px;
	font-weight: 700;
}

#frame #text a {
	background: #F8C6AD;
	color: #FFFFFF;
	-webkit-transition: color 0.1s ease-in-out 0s;
		-moz-transition: color 0.1s ease-in-out 0s;
		-o-transition: color 0.1s ease-in-out 0s;
		transition: color 0.1s ease-in-out 0s;
}

#frame #text a:hover {
	color: #F3EAE4;
}

